*.pyc
lib/*.pyc
jcd.o*
sample_*
*.o
*.oo
*.out
coords.hdf5
data.dat.npy
data.h5
data.txt
datafile.contig
datafile.noncontig
dset.h5
hdf5_ex1
hdf5t/SDS.h5
hdf5t/SDS_pat.h5
hdf5t/SDS_row.h5
hdf5t/a.out
hdf5t/gen_combinations.h.gch
hdf5t/sds.h5 ioexample.txt output.dat.npy
hdf5t/jcd_mpi.*
hdf5t/res_all.*
569220.qb3.log
569221.qb3.log
csv.600h/
csv.a-b_mix_2/
csv.hsp70/
csv/
hdf5t/sarika.csv
jcd_cmp.o619820
jplot.o569959
jplot.o570053
large.txt
large_int32.txt
large_int64.txt
large_uint16.txt
lf.log
log.txt
medium.txt
nptest/
small.txt
t_cmp_large.pbs
t_mpi4py.py
t_mpi_split_list.py
tmem_uint16_large_k40.pbs
tmem_uint16_large_workq.pbs
tplot.pbs
vis.py
output.txt
parallel_test.hdf5
t1/
test.h5
#.vscode
acc.out
acc.out
hdf5t/sds.h5
ioexample.txt
output.dat.npy
res_all.h5
hdf5t/jcd_mpi_omp.o*
jcd_mpi_omp.*
old.results/csv.protease_mix_1/
