*.pyc
lib/*.pyc
jcd.o*
sample_*
*.o
a.out
coords.hdf5
data.dat.npy
data.h5
data.txt
datafile.contig
datafile.noncontig
dset.h5
hdf5_ex1
hdf5t/SDS.h5
hdf5t/SDS_pat.h5
hdf5t/SDS_row.h5
hdf5t/a.out
hdf5t/gen_combinations.h.gch
hdf5t/sds.h5 ioexample.txt output.dat.npy
output.txt
parallel_test.hdf5
t1/
test.h5
tmpi_csv_float32/
#.vscode
acc.out
acc.out
hdf5t/sds.h5
ioexample.txt
output.dat.npy
res_all.h5
